#h{text-decoration: underline;font-family: 'BhuTuka Expanded One', cursive;}
body{text-align: center;}
.line{background-color: black;height: 3px;width: 85px;margin: 5px auto;}
#apps{background-color: deeppink;}
#games{background-color: hotpink;}
#chat{background-color: plum;}